@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  color-scheme: light dark;
}
body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #E4F2CE;
  color: #2E312A;
  transition: background 0.3s, color 0.3s;
}
* {
  color: #2E312A;
}
.dark body, .dark * {
  background-color: #111827 !important;
  color: #fff !important;
}
